lineups/src/main/resources/wsdl/lineup.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://disim.univaq.it/fantacalcio/lineup/wsdltypes"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LineupService"
        targetNamespace="http://disim.univaq.it/fantacalcio/lineup/wsdltypes">

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://disim.univaq.it/fantacalcio/lineup/wsdltypes"
                    targetNamespace="http://disim.univaq.it/fantacalcio/lineup/wsdltypes">

            <xsd:complexType name="Player">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="surname" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:complexType name="Team">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Player" type="tns:Player" minOccurs="11" maxOccurs="11"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="GetLineupOfAllTeamsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Teams" type="tns:Team" minOccurs="0" maxOccurs="20"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

			<xsd:element name="GetLineupOfAllTeamsRequest">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>


            <xsd:element name="GetLineupOfSingleTeamResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Teams" type="tns:Team"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:element name="GetLineupOfSingleTeamRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="teamName" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetLineupOfAllTeamsRequest">
        <wsdl:part name="Teams" element="tns:GetLineupOfAllTeamsRequest"/>
    </wsdl:message>

    <wsdl:message name="GetLineupOfAllTeamsResponse">
        <wsdl:part name="Teams" element="tns:GetLineupOfAllTeamsResponse"/>
    </wsdl:message>

    <wsdl:message name="GetLineupOfSingleTeamRequest">
        <wsdl:part name="teamName" element="tns:GetLineupOfSingleTeamRequest"/>
    </wsdl:message>

    <wsdl:message name="GetLineupOfSingleTeamResponse">
        <wsdl:part name="Team" element="tns:GetLineupOfSingleTeamResponse"/>
    </wsdl:message>

    <!-- Async operation for GetLineupOfAllTeams -->
    <wsdl:portType name="LineupPortType">
        <wsdl:operation name="GetLineupOfAllTeams">
            <wsdl:input message="tns:GetLineupOfAllTeamsRequest" name="GetLineupOfAllTeamsRequest"/>
            <wsdl:output message="tns:GetLineupOfAllTeamsResponse" name="GetLineupOfAllTeamsResponse"/>
        </wsdl:operation>

        <!-- Async operation for GetLineupOfSingleTeam -->
        <wsdl:operation name="GetLineupOfSingleTeam">
            <wsdl:input message="tns:GetLineupOfSingleTeamRequest" name="GetLineupOfSingleTeamRequest"/>
            <wsdl:output message="tns:GetLineupOfSingleTeamResponse" name="GetLineupOfSingleTeamResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="LineupBinding" type="tns:LineupPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!-- Binding for GetLineupOfAllTeams operation -->
        <wsdl:operation name="GetLineupOfAllTeams">
            <wsdl:input name="GetLineupOfAllTeamsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetLineupOfAllTeamsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- Binding for GetLineupOfSingleTeam operation -->
        <wsdl:operation name="GetLineupOfSingleTeam">
            <wsdl:input name="GetLineupOfSingleTeamRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetLineupOfSingleTeamResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="LineupService">
        <wsdl:port name="LineupPort" binding="tns:LineupBinding">
            <soap:address location="http://localhost:8080/fantacalcio/lineup"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
