prosumer-1/src/main/resources/lineups.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://endpoints.fantacalcio.univaq.disim.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LineupsImplService" targetNamespace="http://endpoints.fantacalcio.univaq.disim.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://endpoints.fantacalcio.univaq.disim.it/" elementFormDefault="unqualified" targetNamespace="http://endpoints.fantacalcio.univaq.disim.it/" version="1.0">

  <xs:element name="AllTeamsResponse" type="tns:AllTeamsResponse"/>

  <xs:element name="SingleTeamResponse" type="tns:SingleTeamResponse"/>

  <xs:element name="lineupOfAllTeams" type="tns:lineupOfAllTeams"/>

  <xs:element name="lineupOfSingleTeam" type="tns:lineupOfSingleTeam"/>

  <xs:complexType name="lineupOfSingleTeam">
    <xs:sequence>
      <xs:element minOccurs="0" name="teamName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SingleTeamResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:Team"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="teamName" type="xs:string"/>
      <xs:element minOccurs="0" name="players">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="player" type="tns:Player"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lineupOfAllTeams">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="AllTeamsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:Team"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="lineupOfSingleTeamResponse">
    <wsdl:part element="tns:SingleTeamResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lineupOfSingleTeam">
    <wsdl:part element="tns:lineupOfSingleTeam" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lineupOfAllTeams">
    <wsdl:part element="tns:lineupOfAllTeams" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="lineupOfAllTeamsResponse">
    <wsdl:part element="tns:AllTeamsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Lineups">
    <wsdl:operation name="lineupOfSingleTeam">
      <wsdl:input message="tns:lineupOfSingleTeam" name="lineupOfSingleTeam">
    </wsdl:input>
      <wsdl:output message="tns:lineupOfSingleTeamResponse" name="lineupOfSingleTeamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lineupOfAllTeams">
      <wsdl:input message="tns:lineupOfAllTeams" name="lineupOfAllTeams">
    </wsdl:input>
      <wsdl:output message="tns:lineupOfAllTeamsResponse" name="lineupOfAllTeamsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LineupsImplServiceSoapBinding" type="tns:Lineups">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="lineupOfSingleTeam">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="lineupOfSingleTeam">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lineupOfSingleTeamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lineupOfAllTeams">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="lineupOfAllTeams">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lineupOfAllTeamsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LineupsImplService">
    <wsdl:port binding="tns:LineupsImplServiceSoapBinding" name="LineupsImplPort">
      <soap:address location="http://host.docker.internal:8080/AsyncLineupsSOAPService/lineups"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>